{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{- $isSubsection := eq .Parent.Section "blog" }}
  {{- $allSections := cond $isSubsection .Parent.Sections .Sections }}
  {{- $allPermalink := cond $isSubsection .Parent.RelPermalink .RelPermalink }}

  <div class="blog-filter">
    <label for="category-select">Category:</label>
    <select id="category-select" onchange="window.location = this.value;">
      <option value="{{ $allPermalink }}"{{ if not $isSubsection }} selected{{ end }}>All</option>
      {{ range $allSections }}
      <option value="{{ .RelPermalink }}"{{ if eq $.RelPermalink .RelPermalink }} selected{{ end }}>{{ .Title }}</option>
      {{ end }}
    </select>
  </div>

  {{- $paginator := .Paginate (sort .RegularPagesRecursive ".Lastmod" "desc") }}
  <div class="blog-posts">
    {{ range $paginator.Pages }}
      {{ partial "post-card.html" . }}
    {{ end }}
  </div>

  {{ template "_internal/pagination.html" . }}
{{ end }}
