<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="site-wrapper">
    <aside class="site-sidebar">
      <div class="site-sidebar-inner">
        {{ partial "sidebar.html" . }}
      </div>
    </aside>
    <div class="main-content">
      <main>
        {{ block "main" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
  </div>
</body>
</html>
