{{ define "main" }}
  <h2>Recent Posts</h2>
  {{ range sort site.RegularPages ".Lastmod" "desc" | first 10 }}
    {{ partial "post-card.html" . }}
  {{ end }}

  <p class="more-link"><a href="/blog/">More &rarr;</a></p>

  <aside class="homepage-footnote">
    <p>I'm bad at remembering to finish blog posts. I have a lot of ideas that never get past the first draft stage. I've decided to share drafts here, marked with <strong>[DRAFT]</strong> in the title until they're done.</p>
    <p>This allows me to share things I currently find interesting and update them when I learn something new.</p>
  </aside>
{{ end }}
