{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<h1 class="title">{{.Title}}</h1>
<div class="content {{if .Site.Params.enable_anchor_link}}{{ "anchor-link-enabled" }}{{ end }}">
  {{.Content}}
</div>

{{ if eq .Section "bliki" }}
<aside>
<hr class="end-post">

<div style="display: flex; justify-content: space-between">
<p class="metadata">
  <strong>Publish Date: </strong> <time datatime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
</p>

{{ if ne .PublishDate .Lastmod }}
<p  class="metadata">
  <strong>Last Updated: </strong> <time datatime="{{ .Lastmod }}">{{ .Lastmod.Format "January 2, 2006" }}</time>
</p>

{{ end }}

</div>
</aside>
{{ end }}
</div>
{{ end }}