<header>
  <div class="container pt-2">
    <div class="row">
      <div class="col-12 col-md-3 mb-3">
        <div class="sidebar">
          <div class="logo">
            <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.standard | relURL }}" /></a>
          </div>
          <div class="logo-mobile">
            <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <h1 class="title">{{ .Site.Title }}</h1>
        <!--
        {{ partial "main-menu.html" . }}
        {{ partial "hamburger.html" . }}        
        -->
      </div>
    </div>
  </div>
</header>