{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-house"></i> Home</a>
      </li>
      <li>
        <a href="/blog"><i class="fa-solid fa-square-rss" aria-hidden="true"></i> Blog</a>
      </li>
      <li>
        <a href="https://github.com/healsdata" target="_blank" rel="noopener
              noreferrer"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a>
      </li>
      <li>
        <a href="https://fosstodon.org/@healsdata" target="_blank" rel="noopener noreferrer me"><i class="fab fa-mastodon" aria-hidden="true"></i> Mastodon</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jon-camp/" target="_blank" rel="noopener
              noreferrer"><i class="fab fa-linkedin-in" aria-hidden="true"></i> LinkedIn</a>
      </li>
      <li>
        <a href="mailto:jon@healsdata.com" target="_blank" rel="noopener
              noreferrer"><i class="fas fa-at" aria-hidden="true"></i> Contact</a>
      </li>
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
