:root {
  --fg-highlight: #007f7f;
  --bg-highlight: #007f7f88;
}

body {
  margin: auto;
  max-width: 768px;
}

header {
  border-bottom: 1px solid var(--fg);
  margin-bottom: 1rem;
  margin-top: 0;
}

nav a {
  white-space: nowrap;
  text-wrap: avoid;
}

a {
  color: var(--fg-highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: none;
}


.headshot {
  border-radius: 50%;
  max-width: 100%;
  border: 5px solid var(--fg-highlight);
  margin-left: 25px;
  margin-bottom: 15px;
  filter: drop-shadow(5px 5px 10px var(--fg));
  float: right;
}

@media (max-width: 768px) {
  .headshot {
    display: none;
  }
}

@media (max-width: 480px) {
  .full-form {
    display: none;
  }
}

footer {
  border-top: 1px solid var(--fg);
  margin-top: 1rem;
}

footer div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

footer p {
  text-align: left;
  flex-direction: column;
  flex: 1;
}

footer img {
  height: 14px !important;
  margin:0;
}

.align-right {
  text-align: right;
}

.last-updated {
  width: 100%;
}

.last-updated tr:nth-of-type(2n) {
  background-color: var(--bg-highlight);
}

.last-updated  a {
  color: var(--fg);
}

.last-updated tr td, .last-updated tr th {
  padding-left: 10px;
  padding-right: 10px;
}

small,
figcaption {
  font-size: 80%;
  font-style: italic;
}