:root {
  --fg-highlight: #007f7f;
  --bg-highlight: #007f7f88;
  --bg-alt: #eeeeee;
}

body {
  margin: auto;
  max-width: 768px;
}

header {
  border-bottom: 1px solid var(--fg);
  margin-bottom: 1rem;
  margin-top: 0;
}

nav a {
  white-space: nowrap;
  text-wrap: avoid;
}

header nav ul li {
  margin: 0 1rem;
}

header h1::before,
header h1::after {
  color: var(--fg-highlight);
}

a {
  color: var(--fg-highlight);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a:hover {
  text-decoration: none;
}

blockquote {
  background-color: var(--bg-alt);
}

header h1 {
  vertical-align: text-top;
}

header h1:before,
header h1:after  {
  font-size: 4rem;
  content: "<";
  vertical-align: baseline;
}

header h1:after {
  content: "/>";
}

.headshot {
  border-radius: 50%;
  max-width: 100%;
  border: 5px solid var(--fg-highlight);
  margin-left: 25px;
  margin-bottom: 15px;
  filter: drop-shadow(5px 5px 10px var(--fg));
  float: right;
}

@media (max-width: 768px) {
  .headshot {
    display: none;
  }
}

@media (max-width: 480px) {
  .full-form {
    display: none;
  }
}

footer {
  border-top: 1px solid var(--fg);
  margin-top: 1rem;
}

footer div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

footer p {
  text-align: left;
  flex-direction: column;
  flex: 1;
}

footer img {
  height: 14px !important;
  margin:0;
}

.align-right {
  text-align: right;
}

.last-updated {
  width: 100%;
}

.last-updated tr:nth-of-type(2n) {
  background-color: var(--bg-alt);
}

.last-updated  a {
  color: var(--fg);
}

.last-updated tr td, .last-updated tr th {
  padding-left: 10px;
  padding-right: 10px;
}

small,
figcaption {
  font-size: 80%;
  font-style: italic;
}

.front-matter {
  width: auto;
  font-style: italic;
}

figure.instagram-media {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* Blog filter */
.blog-filter {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  float: right;
}

.blog-post {
  margin: 0;
  padding: 0;
  margin-bottom: 2.5rem;
}

.blog-post:first-of-type {
  margin-top: 2.5rem;
}

.blog-post .post-content {
  display: flex;
  gap: 1.5rem;
}

.blog-post .post-content {
  background-color: var(--bg-alt);
  padding: 1rem;
}

.blog-post .post-dates {
  flex-shrink: 0;
  width: 18rem;
  margin: 0;
  text-align: right;
  border-left: 2px dotted var(--fg);
}

.blog-post .post-summary {
  flex: 1;
}

.blog-filter label {
  font-weight: bold;
}

.blog-filter select {
  font-family: "Atkinson Hyperlegible", sans-serif !important;
  font-size: 1.8rem;
  margin-bottom: 0;
}